@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*-- scss:defaults --*/

// $link-decoration: underline;
// $link-hover-color: white;
$pagination-active-bg: black;
$pagination-active-border-color: white;

$roboto-mono: 'Roboto Mono', monospace;

$font-family-sans-serif: $roboto-mono;
$transition-time: 0.2s;


/*-- scss:rules --*/
.navbar .nav-link:hover {
    color: white;
    background-color: black;
    transition: $transition-time;
}

.navbar-brand:hover {
    color: white;
    transition: $transition-time;
}

.navbar .nav-link.active {
    color: white !important;
    background-color: black;
}

.navbar .nav-link.focus {
    color: white !important;
}

.table.quarto-listing-table a {
    color: black;
    text-decoration: underline;
}

.table.quarto-listing-table a:hover {
    color: white;
    background-color: black;
    padding: 1px;
}

a:hover {
    color:white;
    background-color: black;
    // padding: 1px;
}

div.quarto-about-trestles .about-link:hover {
    color: white !important;
    background-color: black !important;
    transition: $transition-time;
}

div.quarto-about-trestles .about-entity .about-link {
    border-radius: 0px;
}

.quarto-about-trestles p {
    margin-bottom: 0.4rem;
}

// .navbar .nav-link{
//     border-radius: 10px;
// }

.page-link {
    color: black;
    border-color: black;
}

.page-link:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.page .page-link.active {
    background-color: black !important;
    border-color: white;
}

.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
    background-color: black;
    color: white;
    transition: $transition-time;
}

.aa-DetachedCancelButton {
    border-radius: 0px;
    &:hover {
        border-color: black;
        color: white;
        background-color: black;
    }
}

.aa-DetachedContainer--modal {
    border-radius: 0px;
}

div.quarto-listing a:hover {
    color: white;
    transition: $transition-time;
}

.quarto-grid-item .card-title:hover {
    background-color: black;
    color: white;
    transition: $transition-time;
}